body {
    background-color: azure;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

a:active {
    background-color: #555;
}

a {
    padding: 8px;
    background-color: #333;
}

h1, p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin-top: 40px;
}

p {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.section, h2, p {
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 10px auto 0 auto;
}

.produtos-linha {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.produto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 200px;
}

.produto p {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.2;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        gap: 0;
    }
    nav ul li {
        margin: 5px 0; 
    }
    nav ul li a {
        display: block;     }
}
