body{
    color:black;
    background-color:blanchedalmond;
}
.destaque {
    text-decoration: underline;
    font-weight: bold;      
    color:black 
  }
span{
    color:red
}
img{
    width: 150px;
    height:150px;
}