body {
    background-color: #c18fb4;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1, h2, p{
    text-align: center;
    font-family: garamond;
}
h1 {
    text-align: center;
    font-size: 35px;
    font-family: garamond;
    color: #30242d;
    text-shadow: 1px 1px white;
}
h2 {
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: garamond;
    text-shadow: 1px 1px rgb(79, 78, 78);
}

p {
    color: rgb(31, 29, 29);
    text-align: center;
    font-family: monospace;
    margin-left: 40px;
    margin-right: 40px;
}

img{
    height: 180px;
    width: 150px;
}

.container-imagens {
    display: flex;
    justify-content: center;
    gap: 30px;
}